.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 40px 0;
}

h1 {
  color: rgb(122, 83, 228);
  margin-bottom: 40px;
}

.container {
  width: 50%;
  margin: 0 auto;
}



.person-card {
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s ease;
  margin-bottom: 25px;
}

.person-card:hover {
  transform: translateY(-5px);
}

.avatar {
  display: flex;
  align-items: center;
}

.person-img {
  position: relative;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 100%;
}

.person-name {
  font-size: 18px;
  color: rgb(149, 115, 245);
  margin-left: 20px;
  font-weight: 300;
}

.person-age {
  text-align: center;
}


.person-age,
.note {
  color: rgb(192, 192, 192);
  font-size: 16px;
  flex: 1;
}

.form-wrapper {
  position: relative;
  margin-top: 80px;
  width: 100%;
}

input, textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  font-family: 'Inter';
  padding: 15px;
  font-size: 15px;
  background: transparent;
  border: none;
  color: #eee;
  border-bottom: solid 1px #202020;
  margin-bottom: 20px;
  outline: none;
  transition: .3s ease;
}

textarea {
  margin-bottom: 80px;
}

input:focus,
textarea:focus {
  border-color: rgb(122, 83, 228);
}

button {
  padding: 20px 40px;
  font-size: 16px;
  font-family: 'Inter';
  text-transform: capitalize;
  width: 100%;
  border: none;
  background-color: #161616;
  color: rgb(122, 83, 228);
  cursor: pointer;
  border-radius: 10px;
  transition: .3s ease;
}

button:active {
  transform: scale(.98);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  h1 {
    font-size: 25px;
    margin-top: 40px;
  }

  .person-card {
    padding: 20px;
  }

  .person-name {
    font-size: 15px;
    margin-left: 10px;
  }

  .person-img {
    width: 50px;
    height: 50px;
  }

  .person-age,
  .note {
    font-size: 13px;
  }
}